@import "tailwindcss";
@import "tw-animate-css";

@theme {

	--animate-stepper: stepper 4s ease-in-out infinite;

	@keyframes stepper {
		0% {
			transform: rotate(0deg);
		}
		5.56% {
			transform: rotate(20deg);
		}
		11.11% {
			transform: rotate(40deg);
		}
		16.67% {
			transform: rotate(60deg);
		}
		22.22% {
			transform: rotate(80deg);
		}
		27.78% {
			transform: rotate(100deg);
		}
		33.33% {
			transform: rotate(120deg);
		}
		38.89% {
			transform: rotate(140deg);
		}
		44.44% {
			transform: rotate(160deg);
		}
		50% {
			transform: rotate(180deg);
		}
		55.56% {
			transform: rotate(200deg);
		}
		61.11% {
			transform: rotate(220deg);
		}
		66.67% {
			transform: rotate(240deg);
		}
		72.22% {
			transform: rotate(260deg);
		}
		77.78% {
			transform: rotate(280deg);
		}
		83.33% {
			transform: rotate(300deg);
		}
		88.89% {
			transform: rotate(320deg);
		}
		94.44% {
			transform: rotate(340deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}


	/* olivine */
	--color-olivine-50: #f4f7ee;
	--color-olivine-100: #e8eed9;
	--color-olivine-200: #d3deb8;
	--color-olivine-300: #b5c98d;
	--color-olivine-400: #9ab369;
	--color-olivine-500: #7c974b;
	--color-olivine-600: #607739;
	--color-olivine-700: #4b5c2f;
	--color-olivine-800: #3d4b29;
	--color-olivine-900: #364126;
	--color-olivine-950: #1b2211;

	/* watusi */
	--color-watusi-50: #fcf6f4;
	--color-watusi-100: #f9ece7;
	--color-watusi-200: #f4d8cd;
	--color-watusi-300: #edc4b4;
	--color-watusi-400: #e1a188;
	--color-watusi-500: #d28161;
	--color-watusi-600: #bd6745;
	--color-watusi-700: #9f5436;
	--color-watusi-800: #844830;
	--color-watusi-900: #6f402d;
	--color-watusi-950: #3b1f14;

	/* dune */
	--color-dune-50: #f4f3f2;
	--color-dune-100: #e4e2dd;
	--color-dune-200: #ccc6bc;
	--color-dune-300: #aea396;
	--color-dune-400: #978978;
	--color-dune-500: #88796a;
	--color-dune-600: #74655a;
	--color-dune-700: #5e514a;
	--color-dune-800: #524541;
	--color-dune-900: #38302e;
	--color-dune-950: #282120;

	/* scorpion */
	--color-scorpion-50: #f8f7f8;
	--color-scorpion-100: #f0eef0;
	--color-scorpion-200: #dddadd;
	--color-scorpion-300: #bfbabf;
	--color-scorpion-400: #9a959b;
	--color-scorpion-500: #7e787f;
	--color-scorpion-600: #6d676e;
	--color-scorpion-700: #544f55;
	--color-scorpion-800: #474448;
	--color-scorpion-900: #3f3b3f;
	--color-scorpion-950: #2a272a;

	--color-warning-50: #fff7ed;
	--color-warning-100: #feecd6;
	--color-warning-200: #fcd5ac;
	--color-warning-300: #f9b778;
	--color-warning-400: #f68f41;
	--color-warning-500: #f3701e;
	--color-warning-600: #e45512;
	--color-warning-700: #bd3f11;
	--color-warning-800: #963316;
	--color-warning-900: #792c15;
	--color-warning-950: #411409;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
}

.dark {
	/* --background: oklch(0.141 0.005 285.823); */
	--background: oklch(0.1721 0.0181 118.4);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	/* --popover: oklch(21.033% 0.00588 285.832); */
	--popover: #191712;
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
		font-family: Arial, sans-serif;
	}

	html {
		@apply antialiased;
	}
}

@layer utilities {
	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

/* modify the scrollbar for makign it more modern and transparent */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.094);
	border-radius: 50px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.1);
}
